<h1>Written Scorecard</h1>
<%= simple_form_for(@scorecard,  url: {action: :create, controller: :scorecard}, method: :post) do |f| %>
  <%= f.input :name, as: :hidden, input_html: {value: params[:param1]} %>
  <%= f.input :lyrics, collection: 1..5  %>
  <%= f.input :stage_presence, collection: 1..5  %>
  <%= f.input :creativity, collection: 1..5  %>
  <%= f.input :delivery_and_flow, collection: 1..5  %>
  <%= f.input :crowd_response, collection: 1..5  %>

  <%= f.input :event_id, as: :hidden, input_html: {value: params[:param2]} %>
  <%= f.association :contestant, collection: Contestant.where('event_id', params[:param2]) %>

  <%= f.submit "Create" %>

<% end %>
