
<div class="container" id="contestants_list">
<h1><%= @event.name %></h1>
  <div class="container col-md-4">
    <h1>Contestants</h1>
      <ol>
        <% @event.contestants.each do |c| %>
        <li> <%= c.name %> </li>
        <% end %>
        <%= link_to "Add Contestant", contestant_index_path %>
      </ol>
  </div>

  <div class="container col-md-4 ">
    <h1>Judges</h1>
      <ul>
        <% @users.each do |u| %>
        <li> <%= u.name %> </li>
        <% end %>
        
      </ul>
  </div>

  <div class="container col-md-4">
    <h1>Rounds</h1>
      <ul>
        <li>Round 1: Written</li>
        <li>Round 2: A Capela</li>
        <li>Round 3: Grab Bag</li>
        <li>Round 4: Beat Juggling</li>
        <li>Round 5: Cypha</li>
      </ul>
  </div>
  
</div>

<div class="container">
  <table class="table table-bordered table-striped table-hover table-responsive" id="scorecard_table">
     <% if !@event.users.include?(@user) %>
         <%= simple_form_for(@event, url: {controller: :event, action: :update}, mehtod: :put) do |f| %>
        <%= f.submit "Judge Event" %>
        <% end %>
        <% else %>
        <%= render 'scorecards' %>

        <% end %>


       
     
  </table>
</div>


















