
<div class="container">
  <div class="container col-md-4">
    <h1><%= @event.name %></h1>
      <ul>
        <li><%= link_to "Round 1: Written", new_scorecard_path(param1: 'Written', param2: @event.id) %></li>
        <li><%= link_to "Round 2: A Capela", new_scorecard_path(param1: 'A Capela', param2: @event.id) %></li>
        <li><%= link_to "Round 3: Grab Bag", new_scorecard_path(param1: 'Grab Bag', param2: @event.id) %></li>
        <li><%= link_to "Round 4: Beat Juggling", new_scorecard_path(param1: 'Beat Juggling', param2: @event.id) %></li>
        <li><%= link_to "Round 5: Cypha", new_scorecard_path(param1: 'Cypha', param2: @event.id) %></li>
      </ul>
  </div>
    <div class="container col-md-4 ">
    <h1>Judges</h1>
      <ul>
        <% @users.each do |u| %>
        <li> <%= u.email %> </li>
        <% end %>
        
      </ul>
  </div>

  <div class="container col-md-4 pull-right">
    <h1>Contestants</h1>
      <ul>
        <% @event.contestants.each do |c| %>
        <li> <%= c.name %> </li>
        <% end %>
        <%= link_to "Add Contestant", contestant_index_path %>
      </ul>
  </div>
</div>

<div class="container">
  <table class="table table-bordered">
   

    <% if @event.users.include?(@user) %>
     <% @event.contestants.each do |con| %>
       <th><%= con.name %></th>
       <td>Score</td>
      <tbody>
        <tr>
          <td>Written</td>
          <% @event.contestants.each do |c| %>
            <% c.scorecards.each do |sc| %>
              <% if sc.name == "Written" && sc.contestant == con %>
                <td><%= sc.total %></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <td>A Capela</td>
          <% @event.contestants.each do |c| %>
            <% c.scorecards.each do |sc| %>
              <% if sc.name == "A Capela" && sc.contestant == con %>
                <td><%= sc.total %></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
         <tr>
          <td>Grab Bag</td>
          <% @event.contestants.each do |c| %>
             <% c.scorecards.each do |sc| %>
              <% if sc.name == "Grab Bag" && sc.contestant == con %>
                <td><%= sc.total %></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
         <tr>
          <td>Beat Juggling</td>
          <% @event.contestants.each do |c| %>
             <% c.scorecards.each do |sc| %>
              <% if sc.name == "Beat Juggling" && sc.contestant == con %>
                <td><%= sc.total %></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <td>Cypha</td>
          <% @event.contestants.each do |c| %>
            <% if c.scorecards.empty? %>
              <td></td>
            <% end %>
            <% c.scorecards.each do |sc| %>
              <% if sc.name == "Cypha" && sc.contestant == con %>
                <td><%= sc.total %></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <th>Total</th>
          
              <% con_total  = 0%>
              <% con.scorecards.each do |sc| %>
                 <% con_total = con_total + sc.total %>
              <% end %>
            <th><%= con_total %></th>
          
        </tr>
      </tbody>
      <tr>
        
      </tr>
      <% end %>

    <% end %>
  </table>
</div>